<div id="title">
  <h1>Changer informations</h1>
</div>

<form id="form-hike" novalidate>

    <h3 class="titel-form">Changer informations</h3>
 <label for="form-nom" class="formlabel">Nom *</label>
    <input type="text" placeholder="Yorguen" class="form-control" id="form-nom" >
    <div id="error-nom" class="error"></div>


    <label for="form-dateDebut" class="formlabel">Prenom *</label>
    <input type="text" placeholder="Yorguen" class="form-control" id="form-nom" >
    <div id="error-date" class="error"></div>

    <label for="form-capacite" class="formlabel">Addresse Courriel *</label>
    <input type="number" placeholder="yorguen@gmail.com" class="form-control" id="form-capacite" min="1" max="50" >
    <div id="error-capacity" class="error"></div>

    <label for="form-capacite" class="formlabel">Numero de telephone *</label>
    <input type="number" placeholder="444 514 9999" class="form-control" id="form-capacite" min="1" max="50" >
    <div id="error-capacity" class="error"></div>

    <label for="form-capacite" class="formlabel">Numero de carte sante *</label>
    <input type="number" placeholder="1234 567 890 XX" class="form-control" id="form-capacite" min="1" max="50" >
    <div id="error-capacity" class="error"></div>

    <label for="form-capacite" class="formlabel">Addresse *</label>
    <input type="text" placeholder="801 Aviation Pkwy, Ottawa, ON K1K 4R3" class="form-control" id="form-capacite"  >
    <div id="error-capacity" class="error"></div>


    <a href="/patient">
      <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="creation-compte">Changer informations</button>
    </a>

  </form>


<script type="module" src="/js/home.js"></script>