

   
<form id="form-connexion" class="form-conx-Ins">
     
   <h3 class="titel-form">Connexion</h3>
    
    
    <div class="inputs">
      <input type="text" placeholder="Nom d'utilisateur"  class="form-control" id="input-nom-utilisateur"/>
      <div id="username-message" class="u-message "></div>
      <input type="password" placeholder="Mot de passe"  class="form-control" id="input-mot-de-passe">
      <div id="password-message" class="p-message "></div>
    </div>
    
    <p class="inscription">Je n'ai pas de compte. Je <a href="/inscription">crée un.</a></p>
    <div align="center">
      <button type="submit" class="btn btn-primary" >Se connecter</button>
    </div>
</form>


