<div id="form-hike" novalidate>

  <h3 class="titel-form">Nouvelle urgence</h3>

  <div class="wrapper-form">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">formulaire d'urgence</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      




        <!-- general form elements disabled -->
        <div class="card card-warning">

          <!-- /.card-header -->
          <div class="card-body">
            <form id="emergency_form" class="form-content" novalidate>




              <!-- textarea -->
              <div class="form-group">
                <label> Quelle est la raison de votre demande d'urgence ?</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
              </div>



              <!-- text input -->
              <div class="form-group">
                <label>Quand est-ce que cela a commencé / s'est produit ? </label>
                <input type="datetime-local" class="form-control" min="2022-11-08T00:00" max="2999-12-12T00:00"
                  required>
              </div>




              <!-- textarea -->
              <div class="form-group">
                <label> Quels symptômes ressentez-vous?</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
              </div>





              <!-- ***************************************input states
                  <div class="form-group">
                    <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i> Input with
                      success</label>
                    <input type="text" class="form-control is-valid" id="inputSuccess" placeholder="Enter ...">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputWarning"><i class="far fa-bell"></i> Input with
                      warning</label>
                    <input type="text" class="form-control is-warning" id="inputWarning" placeholder="Enter ...">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputError"><i class="far fa-times-circle"></i> Input with
                      error</label>
                    <input type="text" class="form-control is-invalid" id="inputError" placeholder="Enter ...">
                  </div> -->



              <!-- debut form -->
              <div class="form-group">
                <label> Avez-vous des conditions médicales préexistantes? </label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio1">
                  <label class="form-check-label">Oui</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio1">
                  <label class="form-check-label">Non</label>
                </div>

              </div>

              <div class="form-group">
                <label> Avez-vous été admis hôpital ou eu des interventions chirurgicales dans le passé?
                </label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio2">
                  <label class="form-check-label">Oui</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio2">
                  <label class="form-check-label">Non</label>
                </div>

              </div>

              <div class="form-group">
                <label> Prenez-vous des médicaments, des vitamines ou des suppléments?" </label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio3">
                  <label class="form-check-label">Oui</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio3">
                  <label class="form-check-label">Non</label>
                </div>

              </div>


              <!-- text input -->
              <div class="form-group">
                <label>Quand avez-vous mangé ou bu pour la dernière fois? </label>
                <input type="datetime-local" class="form-control" min="2022-11-08T00:00" max="2999-12-12T00:00"
                  required>
              </div>

              <div class="form-group">
                <label> Veuillez cocher les a partie du corps où vous ressentez une douleur
                </label>

                <!-- entete -->
                <div class="row">


                  <label class="col-3"> Partie du corps </label>
                  <label class="col-3"> Gauche </label>
                  <label class="col-3"> Droite </label>

                </div>

                <!-- fin entete -->


                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> tête </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="11">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="11">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->


                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> cou </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="9">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="9">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> épaule </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="8">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="8">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> poitrine </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="10">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="10">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> coude </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="7">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="7">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> main et poignet </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="5">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="5">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> hanche </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="6">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="6">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> cuisse </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="4">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="4">

                    </div>
                  </div>

                </div>

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> genau </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="3">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="3">

                    </div>
                  </div>

                </div>

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> jambe </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="2">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="2">

                    </div>
                  </div>

                </div>

                <!-- part corp -->
                <div class="row">
                  <div class="col-3">
                    <label> pied </label>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1">

                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1">

                    </div>
                  </div>

                </div>

                <!-- fin part corp -->



              </div>


              <div class="range-douleurs ">
                <label></label>
                <label> Le chiffre 0 correspond à « pas de douleur », le chiffre 10 correspond à la « douleur
                  maximale imaginable : </label>

                <label></label>

                <!-- debut range -->
                <div class="form-groupe ">
                  <label class="font-weight-normal">Douleur au moment présent : </label>

                  <div class="row   ">
                    <div class="col form-check ">

                      <input class="form-check-input " type="radio" name="radio4" value="0">
                      <label class="form-check-label ">0</label>

                    </div>

                    <div class="col form-check ">

                      <input class="form-check-input" type="radio" name="radio4" value="1">
                      <label class="form-check-label">1</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="2">
                      <label class="form-check-label">2</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="3">
                      <label class="form-check-label">3</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="4">
                      <label class="form-check-label">4</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="5">
                      <label class="form-check-label">5</label>

                    </div>
                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="6">
                      <label class="form-check-label">6</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="7">
                      <label class="form-check-label">7</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="8">
                      <label class="form-check-label">8</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="9">
                      <label class="form-check-label">9</label>

                    </div>

                    <div class="col ">

                      <input class="form-check-input" type="radio" name="radio4" value="10">
                      <label class="form-check-label">10</label>

                    </div>

                  </div>

                  <!-- fin range -->
                  <label></label>

                  <!-- debut range -->
                  <div class="form-group">
                    <label class="font-weight-normal">Douleur habituelle depuis les 8 derniers jours : </label>

                    <div class="row ">
                      <div class=" col form-check ">

                        <input class="form-check-input" type="radio" name="radio5" value="0">
                        <label class="form-check-label">0</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="1">
                        <label class="form-check-label">1</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="2">
                        <label class="form-check-label">2</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="3">
                        <label class="form-check-label">3</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="4">
                        <label class="form-check-label">4</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="5">
                        <label class="form-check-label">5</label>

                      </div>
                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="6">
                        <label class="form-check-label">6</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="7">
                        <label class="form-check-label">7</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="8">
                        <label class="form-check-label">8</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="9">
                        <label class="form-check-label">9</label>

                      </div>

                      <div class="col ">

                        <input class="form-check-input" type="radio" name="radio5" value="10">
                        <label class="form-check-label">10</label>

                      </div>

                    </div>

                    <!-- fin range -->
                    <label></label>

                    <!-- debut range -->
                    <div class="form-group ">
                      <label class="font-weight-normal"> Douleur la plus intense depuis les 8 derniers jours: </label>

                      <div class="row ">
                        <div class="col form-check  ">

                          <input class="form-check-input" type="radio" name="radio6" value="0">
                          <label class="form-check-label">0</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="1">
                          <label class="form-check-label">1</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="2">
                          <label class="form-check-label">2</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="3">
                          <label class="form-check-label">3</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="4">
                          <label class="form-check-label">4</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="5">
                          <label class="form-check-label">5</label>

                        </div>
                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="6">
                          <label class="form-check-label">6</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="7">
                          <label class="form-check-label">7</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="8">
                          <label class="form-check-label">8</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="9">
                          <label class="form-check-label">9</label>

                        </div>

                        <div class="col ">

                          <input class="form-check-input" type="radio" name="radio6" value="10">
                          <label class="form-check-label">10</label>

                        </div>

                      </div>

                      <!-- fin range -->



                      <label> </label>





                    </div>


                  </div>




                </div>
                <!-- /.card-body -->
              </div>
              <div class="btnform">
                <button type="submit" class="btn btn-primary " id="add-submit"> Soumettre</button>
              </div>
              <!-- /.card -->
            </form>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
      



    </div>

</div>


<script type="module" src="/js/home.js"></script>