<h1></h1>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper iframe-mode " id="wrapper-infirmier" data-widget="iframe" data-auto-dark-mode="true"
  data-loading-screen="750">
</div>
<div class="col-lg-12 " id="liste-card">
  <div class="row">


    <div class="col  mb-4   align-self-center" id="option-nu">
      <div class="card h-100 bg-dark text-center">

        <div class="card-body ">
          <h2 class="card-title text-white">100</h2>
        </div>
        <div class="card-footer text-white">
          <h2>Réanimation</h2>
        </div>
      </div>
    </div>


    <div class="col  mb-4   align-self-center" id="option-nu">
      <div class="card h-100 bg-danger text-center">

        <div class="card-body ">
          <h2 class="card-title text-white">200</h2>
        </div>
        <div class="card-footer text-white">
          <h2>Très urgent</h2>
        </div>
      </div>
    </div>

    <div class="col  mb-4   align-self-center" id="option-nu">
      <div class="card h-100 bg-warning text-center">

        <div class="card-body ">
          <h2 class="card-title text-white">1</h2>
        </div>
        <div class="card-footer text-white">
          <h2>Urgent</h2>
        </div>
      </div>
    </div>

    <div class="col  mb-4   align-self-center" id="option-nu">
      <div class="card h-100 bg-success text-center">

        <div class="card-body ">
          <h2 class="card-title text-white">1</h2>
        </div>
        <div class="card-footer text-white">
          <h2>Moins urgent</h2>
        </div>
      </div>
    </div>

    <div class="col  mb-4   align-self-center" id="option-nu">
      <div class="card h-100 bg-info text-center">

        <div class="card-body ">
          <h2 class="card-title text-white">1</h2>
        </div>
        <div class="card-footer text-white">
          <h2>Non urgent</h2>
        </div>
      </div>
    </div>

  </div>

  <!-- /.row -->
</div>
<!-- /. Small boxes (Stat box) -->
<div class="card  mx-4">

  <!-- /.card-header -->
  <div class="card-body">
    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
            <thead>
              <tr>
                <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                  aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nom du
                  patient</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                  aria-label="Browser: activate to sort column ascending">Niveau d'urgence</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                  aria-label="Platform(s): activate to sort column ascending">Date d'entrée</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                  aria-label="Engine version: activate to sort column ascending">date de derniere modification
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                  aria-label="CSS grade: activate to sort column ascending">Modification</th>
              </tr>
            </thead>
            <tbody>
              {{#each patient}}
              <tr class="odd">
                <td class="dtr-control sorting_1" tabindex="0">{{this.nom}} {{this.prenom}}</td>
                <td>{{this.niveau_urgence}} </td>
                <td>{{this.date_ajout}}</td>
                <td>2022-11-25 12:30</td>
                <td class="project-actions text-right">
                  <a class="btn btn-info btn-sm" href="/modification">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Edit
                  </a>
                  <a class="btn btn-danger btn-sm" href="#">
                    <i class="fas fa-trash">
                    </i>
                    Delete
                  </a>
                </td>
                </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
            <ul class="pagination">
              <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#"
                  aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
              <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1"
                  tabindex="0" class="page-link">1</a></li>
              <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                  class="page-link">2</a></li>
              <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0"
                  class="page-link">3</a></li>
              <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0"
                  class="page-link">4</a></li>
              <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0"
                  class="page-link">5</a></li>
              <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0"
                  class="page-link">6</a></li>
              <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1"
                  data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- /.card-body -->
  </div>
  <!-- Responsive hover table -->
</div>