<div id="title">
  <h1>Salut, {{user.nom_utilisateur}}</h1>
</div>

</div>
<div class="col-lg-9" id="liste-card">
  <div class="row">


    <div class="col-lg-4 col-md-6 mb-4" id="option-nu">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Crée une urgence</h3>
        </div>
        <a class="card-footer" href="/formulaire">
          <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="nouvelle-urgence">Crée une urgence</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4" id="option-cip">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Modifier Informations </h3>
        </div>
        <a class="card-footer" href="/changeInfo">
          <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="changer-info">Modifier Informations</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4" id="option-aurv">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Annuler Un Rendez-Vous</h3>
        </div>
        <a class="card-footer" href="/annuler">
          <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="annuler">Annuler Un Rendez-Vous</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4" id="option-rvp">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Rendez-Vous Passés</h3>
        </div>
        <a class="card-footer" href="/rdvPasse">
          <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="passe">Rendez-Vous Passés</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4" id="option-rvav">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Rendez-Vous À Venir</h3>
        </div>
        <a class="card-footer" href="/rdvFutur">
          <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="futur">Rendez-Vous À Venir</button>
        </a>
      </div>
    </div>

  </div>

  <!-- /.row -->
</div>
<!-- /.col-lg-9 -->