<div id="title">
  <h1>Rendez-vous passés</h1>
</div>
{{!-- 
<div class="col-lg-9" id="liste-card">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4"id="">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">Rendez-vous medical</h3>
                <h5>22 Juin 2022</h5>
                <p class="card-text">9h30</p>
              </div>
              <div class="card-footer">
                 <div class="participants">
                 </div>
                <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="">Plus de details</button>
              </div>
            </div>  
        </div>
    </div> --}}
</div>