h3.attribute{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 32px;
}

h5.attribute{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 28px;
}

div.card-patient{
    margin:auto;
    margin-top: 5px;
    height: 150px;
    width: 790px;
    position: absolute;
    display: block;
}

div.row{
    padding-top: 25px;
}

div.h-100{
    height: 20px;
    margin-top: 0;
}
